@font-face {
  font-family: "Noto Serif Japanese";
  src: url("../fonts/NotoSerifJP-VariableFont_wght.ttf");
  font-display: swap;
}

:where(.dictionary-entry) {
  /* Color tokens */
  --background-color: rgb(34 34 34);
  --text-color: rgb(255 255 255);
  --link-color: rgb(26 115 232);
  --part-of-speech-background-color: rgb(86 86 86);
  --part-of-speech-color: rgb(255 255 255);
  --misc-background-color: rgb(165 42 42);
  --misc-color: rgb(255 255 255);
  --field-background-color: rgb(128 0 128);
  --field-color: rgb(255 255 255);
  --info-color: rgb(240 224 182);
  --dialect-color: rgb(255 255 255);
  --dialect-background-color: green;
  --language-source-color: rgb(182 196 240);
  --default-font-size: 16px;
  --pill-horizontal-padding: 0.2rem;
  --pill-vertical-padding: 0.1rem;

  /* Layout */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--default-font-size);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  row-gap: 0.5em;

  a {
    color: var(--link-color);
    text-decoration-color: color-mix(in srgb, var(--link-color), transparent 30%);
  }

  :lang(ja) {
    font-family: "Noto Serif Japanese", serif;
  }

  :lang(en) {
    font-family: sans-serif;
  }

  /* Back styling */
  > .senses {
    &:has(> li:only-of-type) {
      list-style-type: none;
    }

    &:has(> li:nth-of-type(2)) {
      > li {
        margin: 0.5em 0;
      }
    }

    margin: 0;
    flex-basis: 100%;

    .glosses {
      list-style-type: none;
      margin: 0 0 0.2rem 0;
      padding: 0 0 0 var(--pill-horizontal-padding);

      > li {
        display: inline;

        &:not(:last-of-type)::after {
          content: ", ";
        }
      }
    }
  }

  > .forms {
    &.kanji:has(+ .kana)::after {
      content: "\A0／\A0";
    }

    list-style-type: none;
    display: flex inline; /* to avoid inter-element whitespace issues */
    flex-direction: row;
    margin: 0;
    padding: 0;

    > li {
      /* Hide inter-element whitespace */
      font-size: 0;
      > *, &::after {
        font-size: var(--default-font-size);
      }

      &:not(:last-of-type)::after {
        content: ",\A0";
        color: var(--text-color);
      }

      > .tags {
        list-style-type: none;
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 0;

        > li {
          font-size: var(--default-font-size);
          display: inline;

          &:not(:last-of-type)::after {
            content: ", ";
          }

          &::before {
            content: "[";
          }
          &:first-of-type::before {
            content: "\A0[";
          }

          &::after {
            content: "]";
          }
        }
      }
    }
  }

  > .part-of-speech {
    flex-basis: 100%;
  }

  .part-of-speech,
  .applies-to,
  .field,
  .language-source,
  .dialect,
  .misc,
  .related,
  .antonyms,
  .info {
    list-style-type: none;
    margin: 0.2rem;
    padding: 0;
    display: inline;

    font-size: 0;
    > *, &::before, &::after {
      font-size: var(--default-font-size);
    }

    > li {
      display: inline;
      border-radius: 0.3rem;
      padding: var(--pill-vertical-padding) var(--pill-horizontal-padding);
      margin: 0 0.2rem 0 0;
      line-height: 1rem;
    }
  }

  .part-of-speech > li {
    background-color: var(--part-of-speech-background-color);
    color: var(--part-of-speech-color);
  }

  .applies-to::before {
    content: "〔";
  }
  .applies-to::after {
    content: "only〕";
  }

  .field > li {
    background-color: var(--field-background-color);
    color: var(--field-color);
  }

  .language-source > li {
    color: var(--language-source-color);
    font-style: italic;
  }

  .dialect > li {
    background-color: var(--dialect-background-color);
    color: var(--dialect-color);
  }

  .misc > li {
    background-color: var(--misc-background-color);
    color: var(--misc-color);
  }

  .related::before {
    content: "Related: ";
    font-style: italic;
  }

  .antonyms::before {
    content: "Antonyms: ";
    font-style: italic;
  }

  .info > li {
    font-style: italic;
    color: var(--info-color);
  }
}
