:where(.miwake-dictionary-entry) {
  --background-color: rgb(255 255 255);
  --text-color: rgb(0 0 0);
  --secondary-text-color: color-mix(in srgb, var(--text-color), rgb(255 255 255) 40%);
  --rarely-used-color: rgb(128 128 128);
  --default-font-size: 18px;
  --link-color: rgb(29 78 137);

  :root.night-mode & {
    --background-color: rgb(0 0 0);
    --text-color: rgb(255 255 255);
    --link-color: rgb(138 180 248);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  background-color: var(--background-color);
  padding: 1rem;
  color: var(--text-color);
  font-size: var(--default-font-size);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  row-gap: 0.5rem;

  a {
    color: var(--link-color);
    text-decoration-color: color-mix(in srgb, var(--link-color), transparent 30%);
  }

  > .senses {
    &:has(> li:only-of-type) {
      list-style-type: none;
      padding-left: 0;
    }

    &:has(> li:nth-of-type(2)) {
      padding-left: 1.5rem;

      > li {
        margin: 0.5rem 0;
      }
    }

    flex-basis: 100%;

    margin: 0;
    padding: 0;

    .glosses {
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        display: inline;

        &:not(:last-of-type)::after {
          content: ", ";
        }
      }
    }
  }

  > .forms {
    &.kanji:has(+ .kana)::after {
      content: "\A0／\A0";
    }

    list-style-type: none;
    display: flex inline; /* to avoid inter-element whitespace issues */
    flex-direction: row;
    margin: 0;
    padding: 0;

    > li {
      /* Hide inter-element whitespace */
      font-size: 0;
      > *, &::after {
        font-size: var(--default-font-size);
      }

      &.tag-rK, &.tag-rk, &.tag-sK, &.tag-sk {
        color: var(--rarely-used-color);
      }

      &:not(:last-of-type)::after {
        content: ",\A0";
        color: var(--text-color);
      }

      > .tags {
        display: none;
      }
    }
  }

  > :not(.forms, .senses, .part-of-speech) {
    flex-basis: 100%;
  }

  > .part-of-speech {
    flex-grow: 1;
    text-align: right;
  }

  /* These can appear either at top level or within a sense. */

  .misc,
  .antonyms {
    display: none;
  }

  .part-of-speech, .applies-to, .field, .language-source, .dialect, .related, .info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--secondary-text-color);

    &::before {
      font-style: italic;
    }

    > li {
      display: inline;

      &:not(:last-of-type)::after {
        content: ", ";
      }
    }
  }

  .related::before {
    content: "Related: ";
  }
  .applies-to::before {
    content: "Only ";
  }

  .info {
    font-style: italic;
  }
}
