@font-face {
  font-family: "Noto Serif Japanese";
  src: url("../fonts/_NotoSerifJP-VariableFont_wght.ttf");
  font-display: swap;
}

:where(.dictionary-entry) {
  --margin-color: rgb(229 215 201);
  --background-color: rgb(255 255 255);
  --text-color: rgb(0 0 0);
  --info-color: color-mix(in srgb, var(--text-color), rgb(255 255 255) 40%);
  --default-font-size: 18px;
  --context-font-size: 25px;
  --word-font-size: 30px;

  &.night-mode {
    --margin-color: rgb(47 47 49);
    --background-color: rgb(0 0 0);
    --text-color: rgb(255 255 255);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  background-color: var(--margin-color);
  padding: 1em;
  margin: 0;
  color: var(--text-color);
  font-size: var(--default-font-size);

  :lang(ja) {
    font-family: "Noto Serif Japanese", serif;
  }

  :lang(en) {
    font-family: sans-serif;
  }

  .word {
    font-size: var(--word-font-size);
    text-align: center;
  }

  .part-of-speech,
  .misc,
  .field {
    display: none;
  }

  .senses {
    &:has(> li:only-of-type) {
      list-style-type: none;
      padding-left: 0;
    }

    &:has(> li:nth-of-type(2)) {
      padding-left: 1.5em;

      > li {
        margin: 0.5em 0;
      }
    }
  }

  .glosses {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline;

      &:not(:last-of-type)::after {
        content: ", ";
      }
    }
  }

  .related {
    list-style-type: none;
    margin: 0;
    padding: 0;

    :has(> li:first-of-type)&::before {
      content: "Related: ";
      font-style: italic;
    }

    > li {
      display: inline;

      &:not(:last-of-type)::after {
        content: ", ";
      }
    }
  }

  .info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    color: var(--info-color);

    &:has(> li:first-of-type) {
      margin-top: 1em;
    }
  }

  .forms {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &:has(> li:only-of-type):has(> li.equals-input-form),
    &:has(> li:only-of-type):has(> li.equals-displayed-reading),
    &:has(> li:nth-of-type(1).equals-input-form):has(
      > li:nth-of-type(2).equals-displayed-reading
    ):not(:has(> li:nth-of-type(3))),
    &:has(> li:nth-of-type(1).equals-displayed-reading):has(
      > li:nth-of-type(2).equals-input-form
    ):not(:has(> li:nth-of-type(3))) {
      display: none;
    }

    &::before {
      content: "Forms: ";
    }

    > li {
      display: inline;

      &:not(:last-of-type)::after {
        content: ", ";
      }

      &.equals-input-form,
      &.equals-displayed-reading {
        display: none;
      }

      > .tags {
        display: none;
      }
    }
  }

  .context {
    text-align: center;
    font-size: var(--context-font-size);

    .input-form {
      text-decoration: underline;
    }
  }
}
