@font-face {
  font-family: "Noto Serif Japanese";
  src: url("../fonts/NotoSerifJP-VariableFont_wght.ttf");
  font-display: swap;
}

:where(.dictionary-entry) {
  --background-color: rgb(255 255 255);
  --text-color: rgb(0 0 0);
  --secondary-text-color: color-mix(in srgb, var(--text-color), rgb(255 255 255) 40%);
  --rarely-used-color: rgb(128 128 128);
  --default-font-size: 18px;
  --link-color: rgb(29 78 137);

  &.night-mode {
    --background-color: rgb(0 0 0);
    --text-color: rgb(255 255 255);
    --link-color: rgb(138 180 248);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  background-color: var(--background-color);
  padding: 1rem;
  margin: 0;
  color: var(--text-color);
  font-size: var(--default-font-size);
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  align-items: start;
  row-gap: 1rem;

  a {
    color: var(--link-color);
    text-decoration-color: color-mix(in srgb, var(--link-color), transparent 30%);
  }

  :lang(ja) {
    font-family: "Noto Serif Japanese", serif;
  }

  :lang(en) {
    font-family: sans-serif;
  }

  > .senses {
    &:has(> li:only-of-type) {
      list-style-type: none;
      padding-left: 0;
    }

    &:has(> li:nth-of-type(2)) {
      padding-left: 1.5rem;

      > li {
        margin: 0.5em 0;
      }
    }

    grid-row: 2;
    grid-column: 1 / -1;
    order: 1;

    margin: 0;
    padding: 0;

    .glosses {
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        display: inline;

        &:not(:last-of-type)::after {
          content: ", ";
        }
      }
    }
  }

  > .forms {
    &.kanji:has(+ .kana)::after {
      content: "\A0／\A0";
    }

    grid-row: 1;
    order: 0;

    list-style-type: none;
    display: flex inline; /* to avoid inter-element whitespace issues */
    flex-direction: row;
    margin: 0;
    padding: 0;

    > li {
      /* Hide inter-element whitespace */
      font-size: 0;
      > *, &::after {
        font-size: var(--default-font-size);
      }

      &.tag-rK, &.tag-rk, &.tag-sK, &.tag-sk {
        color: var(--rarely-used-color);
      }

      &:not(:last-of-type)::after {
        content: ",\A0";
        color: var(--text-color);
      }

      > .tags {
        display: none;
      }
    }
  }

  > :not(.forms, .senses) {
    grid-column: 1 / -1;
    order: 2;
  }

  /* These can appear either at top level or within a sense. */

  .part-of-speech,
  .misc,
  .antonyms {
    display: none;
  }

  .related, .applies-to, .dialect, .language-source, .dialect {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--secondary-text-color);

    &::before {
      font-style: italic;
    }

    > li {
      display: inline;

      &:not(:last-of-type)::after {
        content: ", ";
      }
    }
  }

  .related::before {
    content: "Related: ";
  }
  .applies-to::before {
    content: "Only ";
  }

  .info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    color: var(--secondary-text-color);
  }

  .field {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--secondary-text-color);
  }
}
