:where(.miwake-dictionary-entry) {
  --background-color: rgb(255 255 255);
  --text-color: rgb(0 0 0);
  --secondary-text-color: color-mix(in srgb, var(--text-color), rgb(255 255 255) 40%);
  --rarely-used-color: rgb(128 128 128);
  --default-font-size: 18px;
  --link-color: rgb(29 78 137);

  :root.night-mode & {
    --background-color: rgb(0 0 0);
    --text-color: rgb(255 255 255);
    --secondary-text-color: color-mix(in srgb, var(--text-color), rgb(0 0 0) 40%);
    --link-color: rgb(138 180 248);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  background-color: var(--background-color);
  padding: 1rem;
  color: var(--text-color);
  font-size: var(--default-font-size);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  row-gap: 0.5rem;

  a {
    color: var(--link-color);
    text-decoration-color: color-mix(in srgb, var(--link-color), transparent 30%);
  }

  > .senses {
    &:has(> li:only-of-type) {
      list-style-type: none;
      padding-left: 0;
    }

    &:has(> li:nth-of-type(2)) {
      padding-left: 1.5rem;

      > li {
        margin: 0.5rem 0;
      }
    }

    flex-basis: 100%;

    margin: 0;
    padding: 0;

    .glosses {
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        display: inline;

        &:not(:last-of-type)::after {
          content: ", ";
        }
      }
    }
  }

  /* Make the `.forms` `display: contents` so that individual `<li>`s can be styled as `inline`. */
  > .forms {
    display: contents;

    > li {
      display: inline;
      white-space: nowrap;
      order: 1; /* relocate to the end of the outer `.miwake-dictionary-entry` container */

      /* Hide inter-element whitespace */
      font-size: 0;
      > *,
      &::before,
      &::after {
        font-size: var(--default-font-size);
      }

      &.tag-rK,
      &.tag-rk,
      &.tag-ik,
      &.tag-iK,
      &.tag-ok,
      &.tag-oK,
      &.tag-io {
        color: var(--rarely-used-color);
      }

      &.tag-sK,
      &.tag-sk {
        display: none;
      }

      &:not(.tag-sK, .tag-sk):has(~ :not(.tag-sK, .tag-sk))::after {
        content: ",\A0";
        color: var(--text-color);
      }

      > .tags {
        display: none;
      }
    }
  }

  /* Separator goes on the `<li>` because of the `display: contents` trick. */
  > .forms.kanji + .forms.kana > li:first-child::before {
    content: "\A0／\A0";
  }

  > :not(.forms, .senses, .part-of-speech) {
    flex-basis: 100%;
  }

  /* These can appear either at top level or within a sense. */

  .misc,
  .antonyms {
    display: none;
  }

  .part-of-speech,
  .applies-to,
  .field,
  .language-source,
  .dialect,
  .related,
  .info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--secondary-text-color);

    &::before {
      font-style: italic;
    }

    > li {
      display: inline;

      &:not(:last-of-type)::after {
        content: ", ";
      }
    }
  }

  /* Add margin bottom to the last visible child; `.misc` and `.antonyms` are hidden. */
  > :not(.misc, .antonyms) {
    margin-bottom: 1rem;

    &:has(~ :not(.misc, .antonyms)) {
      margin-bottom: 0;
    }
  }

  .related::before {
    content: "Related: ";
  }
  .applies-to::before {
    content: "Only ";
  }

  .info {
    font-style: italic;
  }
}
